<ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  {% for product in collections['animals'].products %}
    <a href="{{product.url}}">
      <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <img src="{{ product.featured_image | img_url: 'medium' }}" />
        <div>
          {{- product.title }}
        </div>
        <div>{{ product.price | money }}</div>
      </li>
    </a>
  {% endfor %}
</ul>